* {
	margin: 0px;
	padding: 0px;
	font-size: 12px;
}

.top {
	background: url(images/lefttop.gif) repeat-x;
	height: 40px;
	color: #fff;
	font-size: 14px;
	line-height: 40px;
}

.top span {
	background: url(images/leftico.png) no-repeat;
	width: 20px;
	height: 40px;
	margin: 9px 10px -17px;
	display: block;
	float: left;
}

.left_menu {
	width: 187px;
	height: 300px;
	border-right: solid 1px #b7d5df;
	height: 1080px;
	background-color:
}
.left_menu dt{
	height: 35px;
	line-height: 35px;
	background-color: #b7d5df;
	border-bottom: 1px solid #B9CAD3;
    
}
dt img{
	margin: 9px 10px;
}
a{
	text-decoration: none;
}
.left_menu li{
	height: 30px;
	line-height: 35px;
	text-indent: 35px;
	width: 187px;
	list-style: url(images/ulist.png);
}
.list_img{
	margin-top: 10px;
}
